* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(120deg, #2cd61c, #181bdf);
    font-family: 'Roboto', sans-serif;
    flex-direction: column;
    overflow: hidden;
}

h1 {
    font-weight: normal;
    margin-bottom: 40px;
    font-size: 60px;
    color: #ccc;
    text-align: center;
}

a {
    text-decoration: none;
    background: #2857d8;
    padding: 10px;
    color: #fff;
    border-radius: 5px;
    margin: 10px;
    box-shadow: 4px 4px 7px #000;
    transition: all .5s;
    font-size: 30px;
}

a.como {
    background: #2bb918;
}

a:hover {
    box-shadow: 0px 0px 7px #000;
}

a.derecha {
    animation-name: derecha;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

a.izquierda {
    animation-name: izquierda;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-iteration-count: 1;
}

@keyframes derecha {
    0% {
        margin-bottom: -120vw;
    }
    
    100% {
        margin-bottom: 0;
    }
}